* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
  font-family: "Inter", sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
header img {
  margin-top: 8vh;
  margin-left: 20vw;
}

.btnAzul {
  background: #0a3871;
  padding: 24px;
  width: 40vh;

  border-style: solid;
  border-radius: 24px;
  border-width: 2px;
  border-color: #0a3871;

  text-align: center;
  text-decoration: none;
  color: white;
}
.btnAzul:hover {
  background-color: #285388;
}
.btnAzul:active {
  color: #0a3871;
}

.btnBlanco {
  background-color: white;
  padding: 24px;
  width: 40vh;

  border-style: solid;
  border-radius: 24px;
  border-width: 2px;
  border-color: #0a3871;

  text-align: center;
  text-decoration: none;
  color: #0a3871;
}
.btnBlanco:hover {
  background-color: #ccd5e0;
  color: white;
}
.btnBlanco:active {
  color: #0a3871;
}

.btnContenedor {
  height: 80vh;
  padding: 30px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
